html{
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
    margin:0 0 0 0 ;
    background-color: rgb(200,200,200);

}

a{
    color:rgb(0,0,215);
    font-size: 12px;
    font-weight:bold;
}

a:hover{
    color:rgb(0,0,157);
    text-decoration: none;
}



#SignUp{    
    padding-top:10%;
}

#LogIn{
    padding-top:10%;
}

#banner{
    margin-top:-2%;
    width:100%;
    height:70%;
    background: url("../pics/Banner.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

#Sector h1{
    margin-top:0;
    padding-left:40%;
    width:100%;
}

#Sector div{
    float:left;
    margin-left:5% ;
    width:28%;
}



#ContactUs h1{
        clear: both;
        margin-top:2%;
        padding-left:40%;
        width:100%;
}

#ContactUs{
    padding-left:5%;
}

#search{
    width:22%;
    padding:0% 0% 0% 0%;
}

.currency{
    margin-top:2%;
}

@media (max-width: 1000px) {
    #Sector div{
        width:100%;
        padding-left:40%;
        padding-top:2%;
    }
}